/* =============================================================================
    Grid
============================================================================= */
.grid {
    width: 990px;
    margin: 0 auto;
    clear: both;
    overflow: auto;
}

.row {
    clear: both;
    overflow: auto;
}

.col {
    margin: 0;
    padding: 0;
    overflow: auto;
    float: left;
}

.cell {
    padding: 0;
    margin: 0;
}

.col-abcdef {width: 990px;}
.col-abcde, .col-bcdef {width: 825px;}
.col-abcd, .col-bcde, .col-cdef {width: 660px;}
.col-abc, .col-bcd, .col-cde, .col-def {width: 495px;}
.col-ab, .col-bc, .col-cd, .col-de, .col-ef {width: 330px;}
.col-a, .col-b, .col-c, .col-d, .col-e, .col-f {width: 165px;}

/* =============================================================================
    Media Queries
============================================================================= */
/* -----------------------------------------------------------------------------
    xsmall
----------------------------------------------------------------------------- */
@media all and (min-width: 0px) and (max-width: 479px) {
    .grid,
    .row {
        width: 320px;
    }
    
    .col-abcdef,
    .col-abcd, .col-cdef,
    .col-abc, .col-def,
    .col-ab, .col-cd, .col-ef {
        width: 310px;
    }
    
    .slim .col-abcdef,
    .slim .col-abcd, .slim .col-cdef,
    .slim .col-abc, .slim .col-def,
    .slim .col-ab, .slim .col-cd, .slim .col-ef {
        width: 320px;
    }
}

/* -----------------------------------------------------------------------------
    small
----------------------------------------------------------------------------- */
@media all and (min-width: 480px) and (max-width: 639px) {
    .grid,
    .row {
        width: 480px;
    }
    
    .col-abcdef,
    .col-abcd, .col-cdef,
    .col-abc, .col-def,
    .col-ab, .col-cd, .col-ef {
        width: 470px;
    }
    
    .slim .col-abcdef,
    .slim .col-abcd, .slim .col-cdef,
    .slim .col-abc, .slim .col-def,
    .slim .col-ab, .slim .col-cd, .slim .col-ef {
        width: 480px;
    }
}

/* -----------------------------------------------------------------------------
    medium
----------------------------------------------------------------------------- */
@media all and (min-width: 640px) and (max-width: 959px) {
	.grid,
    .row {
        width: 640px;
    }

    .col-abcdef {
        width: 630px;
    }
    
    .slim .col-abcdef {
        width: 640px;
    }

    .col-abcd, .col-cdef,
    .col-abc, .col-def,
    .col-ab, .col-cd, .col-ef {
        width: 310px;
    }
    
    .slim .col-abcd, .slim .col-cdef,
    .slim .col-abc, .slim .col-def,
    .slim .col-ab, .slim .col-cd, .slim .col-ef {
        width: 320px;
    }
}

/* -----------------------------------------------------------------------------
	large
----------------------------------------------------------------------------- */
@media all and (min-width: 960px) {
    
}
