/* =============================================================================
    Basic styles
============================================================================= */
* {
    position: relative; /* ? */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    background: #fff;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {font-size: 36px; font-family: 'Roboto Slab', sans-serif;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}


p {
    margin: 0;
    line-height: 150%;
    text-align: justify;
}

a {
    color: #369;
}
/* =============================================================================
    Cells
============================================================================= */
.cell {
    background: #eee;
}

.cell h2 {
    padding: 5px;
}

.cell p {
    padding: 5px;
}
/* =============================================================================
    Grid view
============================================================================= */
/* -----------------------------------------------------------------------------
    xsmall
----------------------------------------------------------------------------- */
@media all and (min-width: 0px) and (max-width: 479px) {
    
}
/* -----------------------------------------------------------------------------
    small
----------------------------------------------------------------------------- */
@media all and (min-width: 480px) and (max-width: 639px) {
    
}
/* -----------------------------------------------------------------------------
    medium
----------------------------------------------------------------------------- */
@media all and (min-width: 640px) and (max-width: 959px) {
	
}
/* -----------------------------------------------------------------------------
	large
----------------------------------------------------------------------------- */
@media all and (min-width: 960px) {
    
}