/* =============================================================================
    Basic styles
============================================================================= */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #fff;
    color: #333;
}

h1 {
    margin: 10px;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: 0;
    line-height: 150%;
    text-align: justify;
}
/* =============================================================================
    Cells
============================================================================= */
.cell {
    background: #eee;
}

.cell h2 {
    padding: 5px;
}

.cell p {
    padding: 5px;
}